#navegacion {color:#337AE8; border:black 1px solid; height:70px;}
#navegacion a {float:left; list-style:none; padding-left: 230px;}
#barra-lateral {
            float: left;
            width:140px;
            height:100%;
            margin-top: 93px;
            font-size: 25px;
        }
img {
	width: 20px;
	height: 20px;
}

.description {
	text-align: center;
}

.options {

	margin-top: 70px;
	color:blue;
	text-align: center;
	margin-left: -36px;

    padding-bottom: 143px;
}

* {
	font-family: 'Crimson Text', bold;
	font-size: 36px;
}

li {


}

#lista-lateral li {
list-style:none;
padding-bottom: 38px;
font-size: 20px;

}
#borde{
	border:black 1px solid;
	padding-bottom: 10px;
}

.decisionimage {
width: 200px;
	height: 200px;
	border: 2px solid grey;
	margin: 0;
	padding: 0;
	border-radius: 35px;
	overflow: hidden;
}

.votes {
	font-size: 42px;
	border:black 1px solid;
	color:black;

}
body {
	background-image: url("1.jpg");
}


