<body class="fondo"> 


 			<tr>
            <td><span id="musica">Música</span></td>
            <td><span id="libros">Libros</span></td>
            <td><span id="conciertos">Conciertos</span></td>
            <td><span id="informatica">Informática</span></td>
            <td><span id="cine">Cine</span></td>
        	</tr>

</body>