#navegacion {color:#337AE8; border:black 1px solid; height:70px;}
#navegacion a {float:left; list-style:none; padding-left: 230px;}
#barra-lateral {
            float: left;
            width:140px;
            height:100%;
            margin-top: 93px;
            font-size: 25px;
        }
img {
	width: 20px;
	height: 20px;
}

.description {
	text-align: center;
}

.options {

	margin-top: 70px;
	color:blue;
	text-align: center;
	margin-left: -36px;

    padding-bottom: 143px;
}

* {
	font-family: 'Crimson Text', bold;
	font-size: 36px;
}

li {


}

#lista-lateral li {
list-style:none;
padding-bottom: 38px;
font-size: 20px;

}
#borde{
	border:black 1px solid;
	padding-bottom: 80px;
	padding-left: 143px;
	margin-left: 97px;
	margin-right: -476px;
}

.decisionimage {
width: 200px;
	height: 200px;
	border: 2px solid grey;
	margin-right: 161px;
	padding: 0;
	border-radius: 35px;
	overflow: hidden;
}

#vote1{
	text-align: left;
	margin-left: -146px;


}
#vote2{
	margin-left: 336px;

}
body {
	background-image: url("1.jpg");
}


.email{
	font-size: 30px;
	margin-left: 852px;
	color:white;
}

.name1 {
	margin-right: 251px;
}
.name2 {
	margin-right: 113px;
	margin-left: 14px;
}