#navegacion {color:#337AE8; border:black 1px solid; height:70px;}
#navegacion a {float:left; list-style:none; padding-left: 230px;}
#barra-lateral {
            float: left;
            width:140px;
            height:100%;
            margin-top: 93px;
            font-size: 25px;
        }
img {
	padding-top: -10px;
	width: 37px;
	height: 42px;
}

.description {
	text-align: center;
}

.option1 {
	color:blue;
	text-align: center;
	color:rgb(29, 124, 36);
	margin-left: 55px;
}
.option2 {
	color:blue;
	text-align: center;
	color:rgb(29, 124, 36);
	margin-left: -66px;
}
.option3 {
	color:blue;
	text-align: center;
	color:rgb(29, 124, 36);
	margin-left: -66px;
	margin-right: 11px;
}

* {
	font-family: 'Raleway', sans-serif;
	font-size: 31px;


}

.background {
	background-color: #E1ECE1;
}




#lista-lateral li {
list-style:none;
padding-bottom: 38px;
font-size: 20px;

}
#borde{
	border:black 1px solid;

}

.decisionimage {
	width: 330px;
	height: 330px;
	border: 2px solid grey;
	padding: 0;
	margin-top: 16px;
	margin-bottom: 16px;
	border-radius: 35px;
-webkit-box-shadow: 0px 4px 62px 14px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 62px 14px rgba(0,0,0,0.75);
box-shadow: 0px 4px 62px 14px rgba(0,0,0,0.75);
	overflow: hidden;
}

#vote1{


}
#vote2{
	padding-top: 6px;
	margin-right: -49px;
}
#vote2img {
	margin-left: 76px;
	list-style: 
}
#vote1img {
	margin-left: 76px;
}

.email{
	font-size: 25px;
	padding-right: 25px;
	color:white;
	padding-top: 24px;
	float: right;
}


#contain {
	margin-top: 107px;
	margin-right: 20px;
	margin-left: 30px;
}

#avatar {
	height:42px;
	width: 42px;
	border-radius: 35px;
	margin-right: 14px;
	padding-bottom: 4px;

}

#show {
  text-align: center;
  list-style: none;
  margin-top: 0px;
  padding-top: 61px;
  margin-left: 90.5px;
  background-color: #63A163;
  color: white;
}

.user p {
	font-size: 20px;
	margin-left: 71px;
  	margin-top: 13px;
}
.user {
	margin-left: 10px;
}

#userimg {
  height: 250px;
  width: 250px;
  border: 5px solid #63A163;
  margin-top: -119px;
  margin-left: 72px;

}

.fondo {
	height:358px ;
	width: 100% ;
	margin-top: -10px;
}

#lista {
	font-size: 20px;
	color:white;
}
#lista a {
  float: right;
  color: white;
  margin-left: 10px;
}

#litles {
	margin-top: 50px;
	font-size: 20px;
	color: white;
}

a {
	font-size: 16px;
	text-decoration: none;
	color: white;
}

#marginmenu{
  margin-left: 10px;
}
.form1 {
	border: 2px solid grey;
}
.form1 label {
	font-size: 20px;
}

.form1 input {

	font-size: 20px;
}

.form1 file_field {
	font-size: 20px;
}
.form1 select {
	font-size: 20px;
}
.form1 textarea {
  padding-top: 3px;
  margin-top: 15px;
font-size: 20px;
}

.form2 {
	text-align: center;
	font-size: 10px;
}

.form3 {
	text-align: right;
	font-size: 10px;
}

.email a {
	font-size: 25px;
	color: white;
}

.email a:hover {
	color:#E1ECE1 ;
	text-decoration: none;
}

.date {

	font-size: 17px;

}

.category {
	font-size: 24px;
}

.margin {

	margin-left: 10px;
}

.bar {
	background-color:#0C0;
	height:19px;
	border-radius:7px 3px 3px 7px;
    width:100%;
}

.btn-decision {
	  margin-left: 128px;
}

.newimg {
	margin-top: 15px;
}

.progress-bar-success {
	 
}