#navegacion {color:#337AE8; border:black 1px solid; height:70px;}
#navegacion a {float:left; list-style:none; padding-left: 230px;}
#barra-lateral {
            float: left;
            width:140px;
            height:100%;
            margin-top: 93px;
            font-size: 25px;
        }
img {
	width: 70px;
	height: 62px;
}

.description {
	text-align: center;
}

.options {
	color:blue;
	text-align: center;
}

* {
	font-family: 'Crimson Text', bold;
	font-size: 36px;
}

li {


}

#lista-lateral li {
list-style:none;
padding-bottom: 38px;
font-size: 20px;

}
#borde{
	border:black 1px solid;

}

.decisionimage {
	width: 330px;
	height: 330px;
	border: 2px solid grey;
	padding: 0;
	border-radius: 35px;
	overflow: hidden;
}

#vote1{


}
#vote2{
	margin-right: -49px;
}


.email{
	font-size: 25px;
	margin-left: 1326px;
	color:white;
	padding-top: 24px;
}

.name1 {
}
.name2 {

}

#musica {

	font-family: segoe script;
}
#conciertos {

	font-family: segoe script;
}
#cine {

	font-family: segoe script;
}
#informatica {

	font-family: segoe script;
}
#libros {

	font-family: segoe script;
}


#contain {
	margin-top: 107px;
	margin-right: 20px;
}

#avatar {
	height:40px;
	width: 40px;
	border-radius: 35px;
	margin-right: 21px;
	padding-bottom: 4px;

}